<mat-toolbar color="primary">
    <button mat-icon-button (click)="redirectHome()">
        <mat-icon>menu_book</mat-icon>
        <span class="ml10 fs20">Exam Portal</span>
    </button>
     
    <span class="spacer"></span>
    <a *ngIf="!isLoggedIn" routerLink="/login" class="login-link">
        Login
    </a>

    <a *ngIf="!isLoggedIn" routerLink="/signup" class="mr20 ml20 login-link">
        Register
    </a>

    <a (click)="logout()" *ngIf="isLoggedIn" routerLink="/login" class="login-link mr20">
        <mat-icon class="mr10 vertical-align-middle">account_circle</mat-icon>
        {{user.username}}
    </a>

    <a (click)="logout()" *ngIf="isLoggedIn" routerLink="/login" class="login-link ml20">
        Logout
    </a>

</mat-toolbar>