<mat-toolbar color="primary" class="navbar-toolbar" role="navigation" [attr.aria-label]="'MAIN_NAVIGATION' | translate">
    <div class="brand">
        <button mat-icon-button (click)="redirectHome()" [attr.aria-label]="'HOME' | translate">
            <mat-icon aria-hidden="true">menu_book</mat-icon>
        </button>
        <span class="ml10 fs20 brand-text" [attr.aria-label]="'EXAM_PORTAL' | translate">{{ 'EXAM_PORTAL' | translate }}</span>
        <!-- Lenguage selector -->
        <button mat-icon-button [matMenuTriggerFor]="langMenu" class="ml10 lang-btn" [attr.aria-label]="'SELECT_LANGUAGE' | translate">
            <mat-icon aria-hidden="true">language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu" [attr.aria-label]="'LANGUAGE_MENU' | translate">
            <button mat-menu-item (click)="selectLanguage('en')" [attr.aria-label]="'SWITCH_TO_ENGLISH' | translate">
                <mat-icon aria-hidden="true">language</mat-icon>
                {{ 'ENGLISH' | translate }}
            </button>
            <button mat-menu-item (click)="selectLanguage('es')" [attr.aria-label]="'SWITCH_TO_SPANISH' | translate">
                <mat-icon aria-hidden="true">language</mat-icon>
                {{ 'SPANISH' | translate }}
            </button>
        </mat-menu>
    </div>
    <span class="spacer" aria-hidden="true"></span>
    <div class="user-links d-flex flex-row flex-md-row flex-wrap align-items-center">
        <ng-container *ngIf="!isLoggedIn">
            <a routerLink="/login" class="login-link" [attr.aria-label]="'LOGIN' | translate">{{ 'LOGIN' | translate }}</a>
            <a routerLink="/signup" class="mr20 ml20 login-link" [attr.aria-label]="'REGISTER' | translate">{{ 'REGISTER' | translate }}</a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <div class="user-row d-flex align-items-center w-100">
                <a [routerLink]="user.authorities[0]?.authority === 'ADMIN' ? '/admin/profile' : '/user-dashboard'"
                   class="login-link mr20"
                   [attr.aria-label]="'PROFILE' | translate">
                    <mat-icon class="mr10 vertical-align-middle" aria-hidden="true">account_circle</mat-icon>
                    {{user.username}}
                </a>
                <a (click)="logout()" routerLink="/login" class="login-link ml20" [attr.aria-label]="'LOGOUT' | translate">
                    <mat-icon class="mr10 vertical-align-middle" aria-hidden="true">logout</mat-icon>
                    {{ 'LOGOUT' | translate }}
                </a>
            </div>
        </ng-container>
    </div>
</mat-toolbar>