.signup-img {
  width: 120px;     
  height: 120px;   
  border-radius: 50%; 
  object-fit: cover;  
  display: block;
  margin: 0 auto 20px auto; 
}

.full-width {
    width: 100%;
}

.login-link {
  margin-left: 5px;
  text-decoration: none;
  color: #3f51b5;
}

.pass-mismatch {
  color: #f44336;
  font-size: 11px;
}
