<!-- Search Bar -->
<div class="search-bar" role="search" [attr.aria-label]="'SEARCH_QUIZ' | translate">
    <button mat-raised-button color="primary" (click)="addQuiz()" class="mb20">
        <mat-icon>add</mat-icon>
        {{ 'ADD_QUIZ' | translate }}
    </button>
    <app-search-bar
        [placeholder]="'SEARCH_QUIZ' | translate"
        [ariaLabel]="'SEARCH_QUIZ' | translate"
        [value]="searchTerm"
        (valueChange)="onSearchTermChange($event)">
    </app-search-bar>
</div>

<div [@slideIn] class="quiz-cards-container container-fluid" *ngIf="!isLoading && quizzes.length > 0">
    <div class="row gx-4 gy-4"> <!-- Bootstrap row with gutters -->
        <div [ngClass]="quizzes.length === 1 ? 'col-12' : 'col-12 col-xl-6 px-3'" *ngFor="let q of quizzes">
            <mat-card class="mt-2" role="region" [attr.aria-label]="q.title">

                <mat-card-header class="header-card d-flex justify-content-between align-items-start">
                    <div class="d-flex align-items-start">
                        <div mat-card-avatar class="header-image" aria-hidden="true"></div>
                        <div class="ms-2">
                            <mat-card-title>
                                <span id="quiz-title-{{q.id}}">{{ q.title }}</span>
                            </mat-card-title>
                            <mat-card-subtitle class="pt-2">
                                <span [id]="'quiz-category-' + q.id">{{ q.category.title }}</span>
                            </mat-card-subtitle>
                        </div>
                    </div>
                    
                    <div class="header-actions d-flex gap-2">
                        <button mat-icon-button color="primary"
                            [attr.aria-label]="('EDIT' | translate) + ' ' + ('QUIZ' | translate) + ' ' + q.title"
                            (click)="editQuiz(q.qId)"
                            matTooltip="{{ 'EDIT' | translate }}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn"
                            [attr.aria-label]="('DELETE' | translate) + ' ' + ('QUIZ' | translate) + ' ' + q.title"
                            (click)="deleteQuiz(q.qId)"
                            matTooltip="{{ 'DELETE' | translate }}">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-header>


                <mat-card-content class="content-card mt10 mb10" style="display: flex; justify-content: center;">
                    <p class="quiz-description center-text">{{ truncateDescription(q.description, 100) }}</p>
                </mat-card-content>
                <mat-card-action>
                    <div class="quiz-actions">
                        <button mat-raised-button color="accent" role="button" class="ml10 pr10 mb-2 mr-2"
                            (click)="viewQuestions(q.qId, q.title)"
                            [attr.aria-label]="('QUESTIONS' | translate) + ' ' + q.title"
                        >
                            {{ 'QUESTIONS' | translate }}
                        </button>
                        <span class="quiz-info-chip ml10 mb-2 mr-2" aria-label="{{ ('MAX_MARKS' | translate) + ': ' + q.maxMarks }}">
                            {{ 'MAX_MARKS' | translate }} {{ q.maxMarks }}
                        </span>
                        <span class="quiz-info-chip ml10 mb-2 mr-2" aria-label="{{ ('NUMBER_OF_QUESTIONS' | translate) + ': ' + q.numberOfQuestions }}">
                            {{ 'NUMBER_OF_QUESTIONS' | translate }}: {{ q.numberOfQuestions }}
                        </span>
                        <span class="quiz-info-chip ml10 mb-2" aria-label="{{ ('ATTEMPTS' | translate) + ' ' + q.title }}">
                            {{ 'ATTEMPTS' | translate }}
                        </span>
                        <!-- Estado activo/desactivado abajo -->
                        <span class="quiz-info-chip ml10 mr10 mb-2" aria-label="{{ q.active ? ('ACTIVE' | translate) : ('DISABLED' | translate) }}"
                            style="display: flex; align-items: center; justify-content: center;"
                        >
                            <mat-icon *ngIf="q.active" color="primary" style="color: green;" aria-label="{{ 'ACTIVE' | translate }}"
                                class="mr10"
                            >
                                check_circle
                            </mat-icon>
                            <mat-icon *ngIf="!q.active" color="warn" style="color: red;" aria-label="{{ 'DISABLED' | translate }}"
                                class="mr10"
                            >
                                cancel
                            </mat-icon>
                            {{ q.active ? ('ACTIVE' | translate) : ('DISABLED' | translate) }}
                        </span>
                    </div>
                </mat-card-action>
            </mat-card>
        </div>
    </div>
</div>

<!-- No Quizzes Found -->
<div *ngIf="!isLoading && quizzes.length === 0" class="no-results-message" role="alert" aria-live="assertive">
    <mat-icon color="warn" class="no-results-icon">info</mat-icon>
    <h2 class="no-results-text">{{ 'NO_QUIZZES_FOUND' | translate }}</h2>
</div>

<!-- Paginator -->
<div *ngIf="totalPages > 1" style="display: flex; justify-content: center; align-items: center; margin: 16px 0;">
  <app-paginator
    [page]="page"
    [totalPages]="totalPages"
    [range]="5"
    (pageChange)="goToPage($event)">
  </app-paginator>
</div>