<div class="container text-center mt20" [@slideIn]>
    <button mat-raised-button color="primary" role="button"
        (click)="addQuiz()" aria-label="Add Quiz"
    >
        {{ 'ADD_QUIZ' | translate }}
    </button>
</div>
<mat-card *ngFor="let q of quizzes" class="mt20 mr20 ml20" role="region" [attr.aria-label]="q.title"
  [@slideIn]
>
    <mat-card-header class="header-card" style="position: relative;">
        <div mat-card-avatar class="header-image" aria-hidden="true"></div>
        <mat-card-title>
            <span id="quiz-title-{{q.id}}">{{ q.title }}</span>
        </mat-card-title>
        <mat-card-subtitle>
            <span id="quiz-category-{{q.id}}">{{ q.category.title }}</span>
        </mat-card-subtitle>
        <div class="header-actions">
            <!-- edit -->
            <button mat-icon-button color="primary" class="mt10"
                [attr.aria-label]="'EDIT' | translate"
                (click)="editQuiz(q.qId)"
                style="position: absolute; top: 8px; right: 48px;"
                matTooltip="{{ 'EDIT' | translate }}"
            >
                <mat-icon>edit</mat-icon>
            </button>
            <!-- delete -->
            <button mat-icon-button color="warn" class="mt10"
                [attr.aria-label]="'DELETE' | translate"
                (click)="deleteQuiz(q.qId)"
                style="position: absolute; top: 8px; right: 8px;"
                matTooltip="{{ 'DELETE' | translate }}"
            >
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </mat-card-header>
    <mat-card-content class="content-card">
        <p class="quiz-description">{{ q.description }}</p>
        
        <div class="quiz-info-row">
        <span>
            <span class="font-bold">{{ 'MAX_MARKS' | translate }}:</span>
            <span>&nbsp;{{ q.maxMarks }}</span>
        </span>
        <span>
            <span class="font-bold">{{ 'NUMBER_OF_QUESTIONS' | translate }}:</span>
            <span>&nbsp;{{ q.numberOfQuestions }}</span>
        </span>
        <span style="display: flex; align-items: center;">
            <span class="font-bold">{{ 'ACTIVE' | translate }}:</span>
            <span style="margin-left: 4px;">
                <mat-icon *ngIf="q.active" color="primary" style="color: green;">check_circle</mat-icon>
                <mat-icon *ngIf="!q.active" color="warn" style="color: red;">cancel</mat-icon>
            </span>
        </span>
        </div>
       
    </mat-card-content>
    <mat-card-action>
  <div class="quiz-actions">
    <button mat-raised-button color="accent" role="button" class="ml20 mb-2 mr-2">
        {{ 'QUESTIONS' | translate }}
    </button>
    <button mat-stroked-button color="accent" class="ml20 mb-2 mr-2" role="button">
        {{ 'MAX_MARKS' | translate }} {{ q.maxMarks }}
    </button>
    <button mat-stroked-button color="primary" class="ml20 mb-2 mr-2" role="button">
        {{ 'NUMBER_OF_QUESTIONS' | translate }}: {{ q.numberOfQuestions }}
    </button>
    <button mat-raised-button color="accent" class="ml20 mb-2" role="button">
        {{ 'ATTEMPTS' | translate }}
    </button>
  </div>
</mat-card-action>
</mat-card>
