<!-- Search Bar -->
<div class="search-bar" role="search" [attr.aria-label]="'SEARCH_QUIZ' | translate">
    <button mat-raised-button color="primary" (click)="addQuiz()" class="mb20">
        <mat-icon>add</mat-icon>
        {{ 'ADD_QUIZ' | translate }}
    </button>
    <app-search-bar
        [placeholder]="'SEARCH_QUIZ' | translate"
        [ariaLabel]="'SEARCH_QUIZ' | translate"
        [value]="searchTerm"
        (valueChange)="onSearchTermChange($event)">
    </app-search-bar>
</div>

<div [@slideIn] class="quiz-cards-container" *ngIf="quizzes.length > 0; else noQuizzes">
    <mat-card *ngFor="let q of quizzes" class="mt20 mr20 ml20" role="region" [attr.aria-label]="q.title">

        <mat-card-header class="header-card" style="position: relative;">
            <div mat-card-avatar class="header-image" aria-hidden="true"></div>
            <mat-card-title>
                <span id="quiz-title-{{q.id}}">{{ q.title }}</span>
            </mat-card-title>
            <mat-card-subtitle>
                <span id="quiz-category-{{q.id}}">{{ q.category.title }}</span>
            </mat-card-subtitle>
            <div class="header-actions">
                <!-- edit -->
                <button mat-icon-button color="primary" class="mt10"
                    [attr.aria-label]="( 'EDIT' | translate ) + ' ' + ( 'QUIZ' | translate ) + ' ' + q.title"
                    (click)="editQuiz(q.qId)"
                    style="position: absolute; top: 8px; right: 48px;"
                    matTooltip="{{ 'EDIT' | translate }}"
                >
                    <mat-icon>edit</mat-icon>
                </button>
                <!-- delete -->
                <button mat-icon-button color="warn" class="mt10"
                    [attr.aria-label]="( 'DELETE' | translate ) + ' ' + ( 'QUIZ' | translate ) + ' ' + q.title"
                    (click)="deleteQuiz(q.qId)"
                    style="position: absolute; top: 8px; right: 8px;"
                    matTooltip="{{ 'DELETE' | translate }}"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-header>

        <mat-card-content class="content-card" style="display: flex; justify-content: center;">
            <p class="quiz-description center-text">{{ q.description }}</p>
        </mat-card-content>
        <mat-card-action>
    <div class="quiz-actions">
        <button mat-raised-button color="accent" role="button" class="ml10 pr10 mb-2 mr-2"
            (click)="viewQuestions(q.qId, q.title)"Q
            [attr.aria-label]="('QUESTIONS' | translate) + ' ' + q.title"
        >
            {{ 'QUESTIONS' | translate }}
        </button>
        <span class="quiz-info-chip ml10 mb-2 mr-2" aria-label="{{ ('MAX_MARKS' | translate) + ': ' + q.maxMarks }}">
            {{ 'MAX_MARKS' | translate }} {{ q.maxMarks }}
        </span>
        <span class="quiz-info-chip ml10 mb-2 mr-2" aria-label="{{ ('NUMBER_OF_QUESTIONS' | translate) + ': ' + q.numberOfQuestions }}">
            {{ 'NUMBER_OF_QUESTIONS' | translate }}: {{ q.numberOfQuestions }}
        </span>
        <span class="quiz-info-chip ml10 mb-2" aria-label="{{ ('ATTEMPTS' | translate) + ' ' + q.title }}">
            {{ 'ATTEMPTS' | translate }}
        </span>
        <!-- Estado activo/desactivado abajo -->
        <span class="quiz-info-chip ml10 mr10 mb-2" aria-label="{{ q.active ? ('ACTIVE' | translate) : ('DISABLED' | translate) }}"
            style="display: flex; align-items: center; justify-content: center;"
        >
            <mat-icon *ngIf="q.active" color="primary" style="color: green;" aria-label="{{ 'ACTIVE' | translate }}"
                class="mr10"
            >
                check_circle
            </mat-icon>
            <mat-icon *ngIf="!q.active" color="warn" style="color: red;" aria-label="{{ 'DISABLED' | translate }}"
                class="mr10"
            >
                cancel
            </mat-icon>
            {{ q.active ? ('ACTIVE' | translate) : ('DISABLED' | translate) }}
        </span>
    </div>
    </mat-card-action>
    </mat-card>
</div>

<!-- No Quizzes Found -->
<ng-template #noQuizzes>
    <div class="no-results-message" role="alert" aria-live="assertive">
        <mat-icon color="warn" class="no-results-icon">info</mat-icon>
        <h2 class="no-results-text">{{ 'NO_QUIZZES_FOUND' | translate }}</h2>
    </div>
</ng-template>

<!-- Paginator -->
<div *ngIf="totalPages > 1" style="display: flex; justify-content: center; align-items: center; margin: 16px 0;">
  <app-paginator
    [page]="page"
    [totalPages]="totalPages"
    [range]="5"
    (pageChange)="goToPage($event)">
  </app-paginator>
</div>
