/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
    text-align: center;
}

.required-field mat-label::after {
  content: "*";      
  color: red;        
  margin-left: 4px;
}

.img-hover-zoom {
  display: inline-block;       
  transition: transform 0.3s ease; 
  cursor: pointer;            
}

.img-hover-zoom img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; 
}

.img-hover-zoom:hover img {
  transform: scale(1.2);        
}