/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #FFF8E1;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;

}

app-footer, .footer {
  flex-shrink: 0;
}

.text-center {
    text-align: center;
}

.vertical-align-middle {
  vertical-align: middle;
}

.img-hover-zoom {
  display: inline-block;       
  transition: transform 0.3s ease; 
  cursor: pointer;            
}

.img-hover-zoom img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; 
}

.img-hover-zoom:hover img {
  transform: scale(1.2);        
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}

.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.font-bold {
  font-weight: bold;
}

.fs20 {
  font-size: 20px;
}

.w100 {
  width: 100% !important;
}

mat-card {
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    padding: 2rem;
}