<mat-card [@slideIn] *ngIf="user" [attr.aria-label]="'PROFILE_CARD' | translate" role="region">
    <h1 class="text-center mt20" tabindex="0" [attr.aria-label]="'PROFILE_WELCOME' | translate">{{ 'PROFILE_WELCOME' | translate }}</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    
                    <img [src]="user.profile || 'assets/img/default.png'"
                        [attr.alt]="('PROFILE_IMAGE_ALT' | translate) + ' ' + user.firstName + ' ' + user.lastName"
                        class="profile-image"
                        width="120"
                        height="120"
                        [attr.aria-label]="('PROFILE_IMAGE_ALT' | translate) + ' ' + user.firstName + ' ' + user.lastName"
                        role="img">

                </div>
                <div class="row mt20">
                    <div class="col-md-10 offset-md-1">
                        <!-- Vista tabla (no edición) -->
                        <ng-container *ngIf="!isEditMode; else editForm">
                            <table class="table text-center" [attr.aria-label]="'USER_DETAILS' | translate" role="table">
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'FIRST_NAME' | translate">{{ 'FIRST_NAME' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="user.firstName">{{ user.firstName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'LAST_NAME' | translate">{{ 'LAST_NAME' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="user.lastName">{{ user.lastName }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'USERNAME' | translate">{{ 'USERNAME' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="user.username">{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'USER_ID' | translate">{{ 'USER_ID' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="'Exam ' + user.id">Exam{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'PHONE' | translate">{{ 'PHONE' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="user.phone">{{ user.phone }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'EMAIL' | translate">{{ 'EMAIL' | translate }}</th>
                                    <td tabindex="0" [attr.aria-label]="user.email">{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'ROLE' | translate">{{ 'ROLE' | translate }}</th>
                                    <td>
                                        <span style="display: inline-flex; align-items: center; gap: 5px;">
                                            <mat-icon [style.color]="user.authorities[0].authority === 'ADMIN' ? 'orange' : 'blue'"
                                                [attr.aria-label]="user.authorities[0].authority === 'ADMIN' ? ('ADMIN' | translate) : ('USER' | translate)">
                                                {{ user.authorities[0].authority === 'ADMIN' ? 'admin_panel_settings' : 'person' }}
                                            </mat-icon>
                                            <span tabindex="0" [attr.aria-label]="user.authorities[0].authority === 'ADMIN' ? ('ADMIN' | translate) : ('USER' | translate)">
                                                {{ user.authorities[0].authority === 'ADMIN' ? ('ADMIN' | translate) : ('USER' | translate) }}
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="font-bold" [attr.aria-label]="'STATUS' | translate">{{ 'STATUS' | translate }}</th>
                                    <td>
                                        <span style="display: inline-flex; align-items: center; gap: 5px;">
                                            <mat-icon [style.color]="user.enabled ? 'green' : 'red'"
                                                [attr.aria-label]="user.enabled ? ('ENABLED' | translate) : ('DISABLED' | translate)">
                                                {{ user.enabled ? 'check_circle' : 'cancel' }}
                                            </mat-icon>
                                            <span tabindex="0" [attr.aria-label]="user.enabled ? ('ENABLED' | translate) : ('DISABLED' | translate)">
                                                {{ user.enabled ? ('ENABLED' | translate) : ('DISABLED' | translate) }}
                                            </span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <mat-card-actions class="text-center mt20">
                                <button mat-raised-button color="primary" (click)="toggleEdit()" type="button"
                                    [attr.aria-label]="'UPDATE' | translate" tabindex="0">
                                    {{ 'UPDATE' | translate }}
                                </button>
                                <button mat-raised-button color="accent" type="button"
                                    [attr.aria-label]="'SHARE' | translate" tabindex="0">
                                    {{ 'SHARE' | translate }}
                                </button>
                            </mat-card-actions>
                        </ng-container>

                        <!-- Vista edición (formulario vertical) -->
                        <ng-template #editForm>
                            <app-profile-edit
                                *ngIf="isEditMode"
                                [user]="user"
                                (save)="saveProfile($event)"
                                (cancel)="cancelEdit()">
                            </app-profile-edit>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>