<form 
  (ngSubmit)="save()" 
  [attr.aria-label]="'CHANGE_PASSWORD' | translate" 
  autocomplete="off"
  role="form"
>
  <input 
    type="text" 
    name="username" 
    [value]="data.user?.username"
    autocomplete="username" 
    hidden 
    aria-hidden="true" 
  />

  <mat-dialog-content>
    <mat-form-field style="width:100%;">
      <mat-label [attr.for]="'newPasswordInput'">{{ 'NEW_PASSWORD' | translate }}</mat-label>
      <input
        matInput
        id="newPasswordInput"
        [(ngModel)]="newPassword"
        name="newPassword"
        type="password"
        required
        autocomplete="new-password"
        [attr.aria-label]="'NEW_PASSWORD' | translate"
        [attr.aria-describedby]="'newPasswordDesc'"
        [attr.aria-invalid]="newPassword && confirmPassword && newPassword !== confirmPassword ? 'true' : null"
      />
      <span id="newPasswordDesc" class="visually-hidden">
        {{ 'ENTER_NEW_PASSWORD' | translate }}
      </span>
    </mat-form-field>

    <mat-form-field style="width:100%;">
      <mat-label [attr.for]="'confirmPasswordInput'">{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
      <input
        matInput
        id="confirmPasswordInput"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        type="password"
        required
        autocomplete="new-password"
        [attr.aria-label]="'CONFIRM_PASSWORD' | translate"
        [attr.aria-describedby]="'confirmPasswordDesc'"
        [attr.aria-invalid]="newPassword && confirmPassword && newPassword !== confirmPassword ? 'true' : null"
      />
      <span id="confirmPasswordDesc" class="visually-hidden">
        {{ 'REPEAT_NEW_PASSWORD' | translate }}
      </span>
    </mat-form-field>

    <div *ngIf="newPassword && confirmPassword && newPassword !== confirmPassword" 
         style="color:red;" 
         role="alert" 
         aria-live="assertive"
         [attr.aria-label]="'PASSWORDS_DO_NOT_MATCH' | translate">
      {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button 
            type="button" 
            (click)="cancel()" 
            [attr.aria-label]="'CANCEL' | translate"
            role="button">
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button 
            color="primary" 
            type="submit" 
            [disabled]="!newPassword || newPassword !== confirmPassword" 
            [attr.aria-label]="'SAVE' | translate"
            role="button">
      {{ 'SAVE' | translate }}
    </button>
  </mat-dialog-actions>
</form>